body{
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
}

#BarraDeInteracao {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.482);
    backdrop-filter: blur(3px);
    padding-right: 20px;
    box-sizing: border-box;
}


/* Estilizar o campo de busca */
.barra-busca {
    width: 200px;
    padding: 10px;
    border: 3px solid #ffffff;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: transparent;
    color: white;
}

/* Estilizar o botão de busca */
.botao-busca {
    padding: 11px 20px;
    background-color: #121212;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* Efeito hover no botão */
.botao-busca:hover {
    background-color: #ffffff;
    border-color: #151515;
    color: black;
}

#conteiner_banner {
    display: flex;
    justify-content: flex-end;
    width: 100%; 
    height: 80vh;  /* Ajusta a altura para ocupar 100% da altura da tela */
    position: relative;
    overflow: hidden;  /* Garante que nada saia dos limites */
}

#Banner {
    width: 70vw; 
    height: 73vh; 
    object-fit: cover;  /* A imagem se ajusta ao contêiner sem distorção */
}

#CampoDescricao {
    width: 100%;
    height: 73vh; 
    position: absolute;
    background: linear-gradient(91deg, 
    rgba(0, 0, 0, 1) , 
    rgba(3.19, 3.02, 3.02, 1) 40%, 
    rgba(3.19, 3.02, 3.02, 0.20) 60%, 
    rgba(6.38, 6.04, 6.04, 0) 100%); 
}

#titulo-sinopse {
    width: 45%;
    height: auto; 
    position: absolute; 
    padding: 20px;
}

#titulo {
    position: absolute;
    top: 10vh;
    left: 3vw;
    color: white;
    font-size: 60px;
    font-family: 'Inika', serif;
    word-wrap: break-word;
}

/* Estilos para o contêiner do botão */
#Botao-assistir {
    display: flex;
    position: absolute;
    left: 1vw;
    top: 40vh;
    justify-content: center;
    align-items: center;
}

/* Estilos para o botão "Assista agora" */
#AssistaAgr {
    padding: 10px 20px;
    background-color: transparent; /* Fundo transparente */
    color: white;
    font-size: 20px;
    font-family: 'Inika', serif;
    font-weight: 400;
    border: 3px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Efeito hover no botão */
#AssistaAgr:hover {
    background-color: white;
    color: black;
}

.DivFileiras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;  /* Ajusta a largura total */
    height: auto;  /* Altura ajustável conforme necessário */
    margin-top: 0px;
  }
  
  .Fileira {
    display: flex;  /* Organiza os itens em linha */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 80px;  /* Espaçamento entre as fileiras */
    width: 95vw;  /* Ajusta a largura da fileira */
    position: relative;
    margin-top: 15px;
    padding-top: 40px;
  }
  
  .Quadro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 310px;
    height: 200px;
    border-radius: 10px;
  }