body{
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
}

#BarraDeInteracao {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.482);
    box-shadow: 1px 1px 1px;
    backdrop-filter: blur(3px);
    justify-content: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
}

/* Estilizar o campo de busca */
.barra-busca {
    width: 200px;
    padding: 10px;
    border: 3px solid #ffffff;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: transparent;
    color: white;
}

/* Estilizar o botão de busca */
.botao-busca {
    padding: 11px 20px;
    background-color: #121212;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* Efeito hover no botão */
.botao-busca:hover {
    background-color: #ffffff;
    border-color: #151515;
    color: black;
}

.Fileira {
    display: flex;               /* Organiza os quadros em linha */
    flex-wrap: wrap;             /* Permite que os quadros "quebrem" para a linha de baixo quando não couberem */
    justify-content: center;     /* Centraliza os quadros horizontalmente */
    align-items: center;         /* Centraliza os quadros verticalmente */
    gap: 20px;                   /* Espaçamento entre os quadros */
    width: 100%;                 /* Ocupa 100% da largura da tela */
    padding: 20px; 
    margin-top: 20vh;              /* Adiciona espaçamento interno na fileira */
    box-sizing: border-box;      /* Garante que o padding seja considerado no cálculo do tamanho */
}

/* Estilo dos Quadros */
.Quadro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 18vw;                 /* Largura de 20% da viewport */
    height: 25vh;
    border-radius: 10px;
}
